on:
  push:
    branches:
    - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Use Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 'lts/*'

    - name: Install dependencies
      run: npm install

    - name: Build React app
      run: npm run build

    - name: Setup SSH
      run: |
        mkdir -p ~/.ssh
        echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
        chmod 600 ~/.ssh/id_rsa
        ssh-keyscan -H t-sib.ru >> ~/.ssh/known_hosts

    - name: Backup api folder on server via SSH
      run: |
        ssh bitrix@t-sib.ru "cp -r /home/bitrix/ext_www/promo.t-sib.ru/api /home/bitrix/ext_www/api_backup"

    - name: Deploy files with rsync
      run: |
        rsync -avz --delete ./dist/ bitrix@t-sib.ru:/home/bitrix/ext_www/promo.t-sib.ru

    - name: Restore api folder on server via SSH
      run: |
        ssh bitrix@t-sib.ru "rm -rf /home/bitrix/ext_www/promo.t-sib.ru/api && mv /home/bitrix/ext_www/api_backup /home/bitrix/ext_www/promo.t-sib.ru/api"
